html{
/*    background-color: #17d346;*/
}


body {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    background-color: rgba(121, 121, 121, 0.21);
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    
}

.container{
    height: 100vh;
    max-width: 800px;
}

.main {
/*    font-family: tempo bold extended;*/
    font-size: 60px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 15px;
    height: 90px;
    align-content: center;
    border-bottom: 2px black solid
}

.where {
    text-align: center;
}


.panel-title {
    margin-bottom: 20px;
}
h3 {
    color:  #4b4848;
    font-size: 22px;
    text-decoration: underline;
}

#train {
    margin-top: 20px;
    text-align: center;
}
#table {
    font-size: 16px;
}